<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.aristys.aristysapp">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/embleme"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:roundIcon="@mipmap/embleme"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name="com.aristys.aristysapp.HomeActivity"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name="com.aristys.aristysapp.model.DetailPost" />

    <activity android:name="com.aristys.aristysapp.UXActivity" />
    <activity android:name="com.aristys.aristysapp.EcoActivity" />
    <activity android:name="com.aristys.aristysapp.WebActivity" />
    <activity android:name="com.aristys.aristysapp.StartActivity" />
    <activity android:name="com.aristys.aristysapp.SeoActivity" />
    <activity android:name="com.aristys.aristysapp.SkillActivity" />
    <activity android:name="com.aristys.aristysapp.OtherActivity" />
    <activity android:name="com.aristys.aristysapp.TrelloActivity" />
    <activity android:name="com.aristys.aristysapp.StartSignInActivity" />

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyC51xt7qbzUotxx4EwlZOefNB4PHMTTCa0" />
  </application>

</manifest>
